[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==20.8b1"
coverage = "*"
data-science-types = "*"
flake8 = "*"
isort = "*"
mypy = "*"
pyinstaller = "*"

[packages]
beautifulsoup4 = "*"
celery = "*"
fire = "*"
flask = "*"
flask-cors = "*"
moviepy = "*"
numpy = "*"
opencv-python = "*"
pillow = "*"
pypng = "*"
python-dotenv = "*"
redis = "*"
requests = "*"
tqdm = "*"
waitress = "*"

[requires]
python_version = "3.8"

[scripts]
build = "pyinstaller src/cli/cli.py --onefile"
celery = "celery -A src.server.celery worker --loglevel=INFO"
celery-prod = "celery -A src.celery worker --loglevel=INFO --uid=nobody --gid=nogroup"
cli = "python -m src.cli.cli"
dev = "flask run --port=5000 --cert=localhost.crt --key=localhost.key --reload --debugger"
dev-http = "flask run --reload --debugger"
e2e = "python -m unittest discover -s test.e2e -p 'e2e_test.py'"
format = "black -l 80 ."
lint = "flake8 --max-line-length 80 src"
prod = "waitress-serve --ident='' --port=8080 src.server:server"
sort = "isort --atomic ."
test = "python -m unittest discover  -s test.unit -p '*_test.py' -b"
test-cleanup = "find . -type f -name '*.pyc' -delete"
test-coverage = "coverage run --source=src --omit=**/__init__.py -m unittest discover -s test.unit -p '*_test.py' -b"
typecheck = "mypy src"
